  <div>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
         <a id="nav-puzzle"><img id = "pic" src="img/puzzle_jt.jpg"></a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="/dash">Dashboard</a></li>
        </ul>
      </div>
    </div>
  </nav>
    </div>
