<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Awesome Tweets</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
      <header class = "navigation">
      <nav>
        <a class = "nav-pic"><img class="pic" src="img/puzzle_jt.jpg" ></a>
        <div class = "navbar-right">
          <ul><a = "black" href="">Home</a></ul>
          <ul><a href="/dash">Dashboard</a></ul>
        </div>
      </nav>
      </header>

      <div class = "container">
        <h2>Awesome Tweets</h2>
      </div>
  </body>
</html>
